/* .wrapper{
    background: #333;
    color: black;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    padding: 0;  
} */
/* nav a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}
nav a:hover{
    background-color:#555;
}

@media screen and (min-width:768px){
    nav ul {
        display: flex;
        justify-content:flex-end;
    }
nav li{
    
}



} */
