.Grid{
    text-align: center;
    background:#edecec;
    text-transform: uppercase;
    border-radius: 4px;
    z-index: 1;
    position: sticky;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    top: 0px;
}

#elementToFadeInAndOut {
    -webkit-animation: fadeinout 10s linear forwards;
    animation: fadeinout 10s linear forwards;
}
#display-none{
    display: none;
}
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }