@supports (display: grid) {
  /* information display */
  .info{
    display:none;
  }
  .Navbar{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(21,minmax(130px,auto));
    grid-gap:1px;
    max-width: 100%;
    margin:0px auto;

}
.Navbar div{
    /* border: 1px solid #000; */
    /* background: rgb(235, 152, 27); */
    padding: 0px;
}
.Navbar div:nth-child(even){
    background: #fff;
}
.one{
    grid-column:1 / 4;
    grid-row:1 / 8;
}
.two{
  grid-column:1 / 2;
  grid-row:8 / 10;
}
.three{
  /* border: 1px solid #000; */
  grid-column:2 / 3;
  grid-row:8 / 10;
}
.four{
  /* border: 1px solid #000; */
  grid-column:3 / 4;
  grid-row:8 / 10;
}

.five{
  /* border: 1px solid #000; */
  grid-column:1 / 2;
    grid-row:10 / 12;
}
.six{
    grid-column:2 / 4;
    grid-row:10 / 12;
}
.seven{
  grid-column:1 / 4;
  grid-row:12 / 14;
}
.eight{
  grid-column:1 / 4;
  grid-row:14 / 16;
}

.nine{
  grid-column:1 / 4;
  grid-row:16 / 18;
}
.ten{
  grid-column:1 / 4;
  grid-row:18 / 20;
}
.eleven{
  grid-column:1 / 4;
  grid-row:20 / 22;
}
/* the nested-region for the first region ie-Nested is grid -1 nested */
.Nested{
  /* background: url('../images/chat.png') !important; */
  background-repeat: no-repeat !important;
  background-size: cover;
  width:100%;
  z-index: 1 !important;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:center;
  grid-gap: 10px;
}
.Nested p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: 0px;
}
.two{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:start;
  grid-gap: 10px;
}
.two p{
 /* border: 1px solid #000; */
 padding: 1px;
 margin: 0px;
}
.six{
  /* border: 1px solid #000; */
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:start;
  /* grid-gap: 10px; */
}
.six p{
 /* border: 1px solid #000; */
 padding: 1px;
 margin: 0px;
}

.seven{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: repeat(1,minmax(600px,auto));
  align-items:center;
  /* grid-gap: 10px; */
}
.seven p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: 0px;
}
.eight{
  display: grid;
  grid-template-columns:1fr 1fr;
  /* grid-template-rows: repeat(1,minmax(600px,auto)); */
  align-items:center;
  /* grid-gap: 10px; */
}
.eight p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: 0px;
}
.nine{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:center;
  /* grid-gap: 10px; */
}
.nine p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: 2em;
}
.ten{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:start;
  /* grid-gap: 10px; */
}
.ten p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: 0px;
}
.eleven{
  background: #ccc;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  justify-content:start;
  padding: 20px 81px !important;
  /* grid-gap: 10px; */
}
.eleven p{
 background: #ccc;
 /* border: 1px solid #000; */
 padding: 73px !important;
 margin: 0px;
 line-height: 30px;
}

  /* icon in the page */
  /* this media-query is due to the animation slidding too far */
  @media screen and (min-width: 1546px) and (max-width: 2700px) {
     .info{
       display:inline-block !important;
    }
    .text-write{
      display: none;
    }
  }
  @media screen and (max-width: 800px) {
    .info{
      display: inline-block;
    }
    .text-write{
      display: none;
    }
    /* Grids start here */
    .seven{
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows: repeat(1,minmax(65px,auto));
      align-items:center;
      /* grid-gap: 1px; */
    }
    .seven p{
     /* border: 1px solid #000; */
     padding: 20px;
     margin: 0px;
    }
    .eight{
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows: repeat(1,minmax(65px,auto));
      align-items:center;
      /* grid-gap: 1px; */
    }
    .eight p{
     /* border: 1px solid #000; */
     padding: 20px;
     margin: 0px;
    }
    .ten{
      display: grid;
      grid-template-columns:1fr;
      /* grid-template-rows: repeat(1,minmax(600px,auto)); */
      align-items:center;
      /* grid-gap: 1px; */
    }
    .ten p{
     /* border: 1px solid #000; */
     padding: 20px;
     margin: 0px;
    }
    .eleven{
      display: grid;
      grid-template-columns:1fr;
      padding: 20px 80px !important;
      /* grid-template-rows: repeat(1,minmax(600px,auto)); */
      align-items:center;
      /* grid-gap: 1px; */
    }
    .eleven p{
      background: #ccc;
     /* border: 1px solid #000; */
     padding: 73px;
     margin: 0px;
    }
    /* Grid-area */
  }

  @media screen and (max-width: 800px) {
    .eleven{
      display: grid;
      grid-template-columns:1fr;
      padding: 20px 55px !important;
      /* grid-template-rows: repeat(1,minmax(600px,auto)); */
      align-items:center;
      /* grid-gap: 1px; */
    }
    .eleven p{
      background: #ccc;
     /* border: 1px solid #000; */
     padding: 10px;
     margin: 0px;
    }
    .Navbar{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows: repeat(25,minmax(130px,auto));
      grid-gap:1px;
      max-width: 100%;
      margin:0px auto;
  
  }
  .Navbar div{
      /* background: rgb(235, 152, 27); */
      padding: 0px;
  }
  .Navbar div:nth-child(even){
      /* background: #595050; */
  }
  .Nested{
    /* background: url('../images/chat.png') !important; */
    background-repeat: no-repeat !important;
    background-size: cover;
    z-index: 1 !important;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(1,minmax(300px,auto));
    align-items:center;
    grid-gap: 1px;
  }
  .Nested p{
   /* border: 1px solid #000; */
   padding: 20px;
   margin: 0px;
  }
  .one{
      grid-column:1 / 4;
      grid-row:1 / 6;
  }
  .two{
    grid-column:1 / 4;
    grid-row:6 / 8;
  }
  .three{
    grid-column:1 / 4;
    grid-row:8 / 10;
  }
  .four{
    grid-column:1 / 4;
    grid-row:10 / 12;
  }
  
  .five{
    grid-column:1 / 4;
      grid-row:12 / 14;
  }
  .six{
      grid-column:1 / 4;
      grid-row:14 / 16;
  }
  .seven{
    grid-column:1 / 4;
    grid-row:16 / 18;
  }
  .eight{
    grid-column:1 / 4;
    grid-row:18 / 20;
  }
  .nine{
    grid-column:1 / 4;
    grid-row:20 / 22;
  }
  .ten{
    grid-column:1 / 4;
    grid-row:22 / 24;
  }
  .eleven{
    grid-column:1 / 4;
    grid-row:24 / 26;
  }
    /* Grid-area */
  }
}





*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.fa-anchor,.fa-coffee {font-size:200px}
ul,ol{list-style: none}
h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.4px;
}
h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
  
  /* write-selft */
  .text-write{
    position: relative;
    /* top:50%;
    left:0%; */
    width:50%;
    margin:0 10px;
    border-right:1px solid hsl(0, 9%, 85%);
    font-size:100%;
    text-align: center;
    overflow: hidden;
    transform:translateY(-71%);
  }
  .text-write{
    -webkit-animation: typewriter 4s steps(500) 1s 1 normal both, blinkTextCursor 400ms steps(300) infinite normal;
    animation: typewriter 4s steps(500) 1s 1 normal both,
               blinkTextCursor 500ms steps(400) infinite normal;
  }
  @keyframes typewriter{
    from{width:0%;opacity:0}
    to{width:95%;border-right:1px solid transparent;}
  }
  @keyframes blinkTextCursor{
    from {border-right-color:rgb(255, 255, 255) !important;}
    to {border-right-color: transparent !important;}
  }
  /* buttons-transitions */
  input[type="submit"]{
    z-index: 1;
   transition: all 0.4s ease-in-out;
 }
 
 input[type="submit"]:hover {
    box-shadow: 0 6px 14px 0 rgb(174, 172, 172);
    transform: scale(1.05);
 }

