
@supports (display: grid) {
  .text-write:before{
    content:'INFORMATION';
    font-weight:1000;
    animation: animate infinite 30000ms ease-in-out 1s;
  }
  @keyframes animate{
   0%{
       content:'INFORMATION';
       font-weight:1000;
       width: auto;
    }
    25%{
       content:'DISTRIBUTION';
       font-weight:1000;
       width: auto;
    }
    50%{
       content:'DATA';
       font-weight:1000;
       width: auto;
    }
    75%{
       content:'CALCULATION';
       font-weight:1000;
       width: auto;
    }
    100%{
      content:'DISTINCTION';
      font-weight:1000;
      width: auto;
    }
  }
  .Navbar{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(14,minmax(130px,auto));
    grid-gap:1px;
    max-width: 100%;
    margin:0px auto;

}
.Navbar div{
    /* border: 1px solid #000; */
    /* background: rgb(235, 152, 27); */
    padding: 0px;
}
.Navbar div:nth-child(even){
    background: #fff;
}
.one{
    grid-column:1 / 4;
    grid-row:1 / 8;
}
.parent-container-two-six{
  grid-column:1 / 4;
  grid-row:8 /10;
}
.seven{
  grid-column:1 / 4;
  grid-row:10 / 12;
}
.eight{
  grid-column:1 / 4;
  grid-row:12 / 14;
}

.nine{
  grid-column:1 / 4;
  grid-row:14 / 16;
}
.ten{
  grid-column:1 / 4;
  grid-row:16 / 18;
}
.eleven{
  grid-column:1 / 4;
  grid-row:18 / 19;
}
/* the nested-region for the first region ie-Nested is grid -1 nested */
.Nested{
  background: url('../images/landing1.svg') !important;
  background-position:center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 90%;
  width:100%;
  transform: scale(1);
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:start;
  grid-gap: 0px;
}
.Nested p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: 0px;
}
.parent-container-two-six{
  width: 100%;
  margin:0 auto;
  display:flex;
  background: #fff;
  flex-wrap: wrap;
  justify-content: space-between;
}
.parent-container-two-six .two,.three,.four,.five{
  height:400px;
  flex-basis:33.3333%;
  /* border: 1px solid #666666; */
}
.parent-container-two-six .six{
  height:434.88px;
  flex-basis:66.666666%;
  /* border: 1px solid #666666; */
}

/* .two{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:start;
  grid-gap: 10px;
}
.two p{
 padding: 1px;
 margin: 0px;
} */
.six{
  /* border: 1px solid #000; */
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:start;
  /* grid-gap: 10px; */
}
.six p{
 /* border: 1px solid #000; */
 padding: 1px;
 margin: 0px;
}

.seven{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: repeat(1,minmax(auto,auto));
  align-items:start;
  padding: 5% 3% !important;
  /* grid-gap: 10px; */
}
.seven p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: auto 4%;
}
.eight{
  display: grid;
  grid-template-columns:1fr 1fr;
  /* grid-template-rows: repeat(1,minmax(600px,auto)); */
  align-items:start;
  /* grid-gap: 10px; */
}
.eight p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: auto 4%;
}
.nine{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:center;
  /* grid-gap: 10px; */
}
.nine p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: 2em;
}
.ten{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  align-items:start;
  /* grid-gap: 10px; */
}
.ten p{
 /* border: 1px solid #000; */
 padding: 20px;
 margin: 0px;
}
.eleven{
  background: #ccc;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: repeat(1,minmax(300px,auto));
  justify-content:start;
  padding: 20px 81px !important;
  /* grid-gap: 10px; */
}
.eleven p{
 background: #ccc;
 /* border: 1px solid #000; */
 padding: 18% !important;
 margin: 0px;
 line-height: 30px;
}

  /* icon in the page */
  @media screen and (max-width: 800px) {
    /* to shift the textup the view */
    .Navbar div {
      padding: 0px;
      position: relative;
      bottom: 40px;
  }
  /* ends here */
    .info{
      display: inline-block;
    }
    
    /* Grids start here */
    .seven{
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows: repeat(1,minmax(65px,auto));
      align-items:center;
      /* grid-gap: 1px; */
    }
    .seven p{
     /* border: 1px solid #000; */
     padding: 20px;
     margin: 0px;
    }
    .eight{
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows: repeat(1,minmax(65px,auto));
      align-items:center;
      /* grid-gap: 1px; */
    }
    .eight p{
     /* border: 1px solid #000; */
     padding: 20px;
     margin: 0px;
    }
    .ten{
      display: grid;
      grid-template-columns:1fr;
      /* grid-template-rows: repeat(1,minmax(600px,auto)); */
      align-items:center;
      /* grid-gap: 1px; */
    }
    .ten p{
     /* border: 1px solid #000; */
     padding: 20px;
     margin: 0px;
    }
    .eleven{
      display: grid;
      grid-template-columns:1fr;
      padding: 20px 80px !important;
      /* grid-template-rows: repeat(1,minmax(600px,auto)); */
      align-items:center;
      /* grid-gap: 1px; */
    }
    .eleven p{
      background: #ccc;
     /* border: 1px solid #000; */
     padding: 73px;
     margin: 0px;
    }
    /* Grid-area */
  }

  @media screen and (max-width: 800px) {
    .horizontal{
      margin-top:45px!important;
    }
    .horizontal-second-index{
      margin-top: -18px;
    }
    .parent-container-two-six{
      width: 100%;
      margin:0 auto;
      display:flex;
      background: #fff;
      flex-wrap: wrap;
      flex-flow: column;
    }
    .parent-container-two-six .two,.three,.four,.five,.six{
      height:434.88px;
      flex-basis:100% !important;
      /* border: 1px solid #666666; */
    }
    .eleven{
      display: grid;
      grid-template-columns:1fr;
      padding: 20px 55px !important;
      /* grid-template-rows: repeat(1,minmax(600px,auto)); */
      align-items:center;
      /* grid-gap: 1px; */
    }
    .eleven p{
     background: #ccc;
     padding: 10px;
     margin: 0px;
    }
    .Navbar{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows: repeat(15,minmax(130px,auto));
      grid-gap:0px;
      max-width: 100%;
      margin:0px auto;
  
  }
  .Navbar div{
      /* background: rgb(235, 152, 27); */
      padding: 0px;
  }
  .Nested{
    background: url('') !important;
    display: none;
    background-repeat: no-repeat !important;
    background-size: cover;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(1,minmax(300px,auto));
    align-items:center;
    grid-gap: 0px;
  }
  .Nested p{
   /* border: 1px solid #000; */
   padding: 20px;
   margin: 0px;
  }
  .one{
      grid-column:1 / 4;
      grid-row:1 / 6;
  }
  .parent-container-two-six{
    grid-column:1 / 4;
    grid-row:8 /10;
  }
  .seven{
    grid-column:1 / 4;
    grid-row:10 / 12;
  }
  .eight{
    grid-column:1 / 4;
    grid-row:12 / 14;
  }
  .nine{
    grid-column:1 / 4;
    grid-row:14 / 16;
  }
  .ten{
    grid-column:1 / 4;
    grid-row:16 / 18;
  }
  .eleven{
    grid-column:1 / 4;
    grid-row:18 / 20;
  }
  }
}



*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.fa-anchor,.fa-coffee {font-size:200px}
ul,ol{list-style: none}
h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 26.4px;
}
h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
  input[type="submit"]{
    z-index: 1;
   transition: all 0.4s ease-in-out;
 }
 
 input[type="submit"]:hover {
    box-shadow: 0 6px 14px 0 rgb(174, 172, 172);
    transform: scale(1.05);
 }

